
# HTID:12525023: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
#php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12525023:
# Apply a CSP to all HTML and PHP files
#<FilesMatch "\.(html|php)$">
#Header set Content-Security-Policy "default-src 'self'; img-src 'self'; script-src 'self'; font-src 'self' #https://fonts.gstatic.com; style-src 'self' https://fonts.googleapis.com;
#</FilesMatch>
#Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
#Header always set X-Frame-Options "SAMEORIGIN"
#Header set Referrer-Policy: strict-origin-when-cross-origin



